:root {
    --theme-color1: black;
    --theme-color2: white;
    --theme-color4: rgb(0, 255, 255);
    --green: rgb(0, 255, 0);
    --red: rgb(255, 0, 0);
}
::selection {
    background-color: white !important;
    color: black;
}
body,
html {
    background-color: black !important;
    color: white !important;
}
a {
    color: yellow !important;
}
a:hover {
    text-decoration: 1px underline white !important;
}
.图标按钮,
button.图标,
button.大按钮,
.选项 {
    border: 2px solid var(--theme-color4) !important;
    color: white;
}
.图标按钮:hover,
.图标按钮:focus,
button.图标:hover,
button.图标:focus,
button.大按钮:hover,
button.大按钮:focus,
.选项:hover,
.选项:focus {
    border: 2px dashed var(--theme-color4) !important;
}
button.大按钮,
.选项,
.图标按钮 {
    background-color: rgba(0, 0, 0, 0) !important;
}
.横幅 {
    border: 2px solid;
    background-color: black !important;
}
.横幅:hover {
    border-style: dashed;
}
.图标.不点击 {
    border: 2px solid black;
}
