@keyframes settings {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes plane {
    0% {
        transform: translate(-1vw, 1vh);
    }
    50% {
        transform: translate(1vw, -1vh);
    }
    100% {
        transform: translate(-1vw, 1vh);
    }
}
@keyframes gamehandle {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

html {
    background-color: var(--theme-color1);
    color: var(--theme-color2);
    margin: 0;
    padding: 0;
    user-select: none;
    max-width: 512px;
    min-width: 512px;
    width: 512px;
}
body {
    margin: 0;
}
p {
    font-size: 16px;
    margin: 4px;
    text-align: center;
}

#toolbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
#toolbar .left,
#toolbar .right {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#toolbar .left *,
#toolbar .right * {
    margin: 4px;
}
#logo {
    border-radius: 50%;
}
#b-settings:active svg {
    animation-name: settings;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 1s;
}

.about * {
    margin: 4px;
}
#about,
.notifications {
    user-select: text;
}
#about,
#settings,
#notifications {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#tools {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.notification {
    border-radius: 8px;
    display: flex;
    font-size: large;
    min-height: 50px;
    margin-bottom: 4px;
    text-align: center;
    padding: 4px;
    width: calc(100% - 16px);
    z-index: 99;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.notification > span {
    max-width: calc(100% - 96px);
    min-width: calc(100% - 96px);
}
.notification > svg,
.notification > .iconButton {
    width: 24px;
    height: 24px;
}
.notification > .iconButton {
    border: none;
    padding: 0;
}

.plane,.gamehandle {
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    bottom: 5vh;
    width: 5vw;
    height: auto;
    z-index: 0;
}
.plane {
    animation-name: plane;
    right: 5vw;
}
.gamehandle {
    animation-name: gamehandle;
    left: 5vw;
}
